<!-- Footer -->
			<footer class="footer">
				<div class="footer-top">
					<div class="row flex">

<!-- Ciudadano inteligente -->
						<div class="column width-5">
							<div class="widget">
								<h4 class="widget-title">PROYECTO IMPULSADO POR</h4>
								<a href="index.html"><a href="http://ciudadanointeligente.org"><img src="images/logo-footer.png" alt="Logo FCI" /></a>
								<br>
								<p>Organización internacional sin fines de lucro que busca fortalecer las democracias de América Latina a través del uso innovador de tecnologías.</p>
							</div>
						</div>

<!-- Proyectos Ciudadano inteligente -->
						<div class="column width-3 offset-1">
							<div class="widget">
								<h4 class="widget-title">Links Proyectos</h4>
								<ul>
									<li>
										<a href="https://abre.tumunicipio.org/">Proyecto Abre</a>
									</li>
									<li>
										<a href="https://deldichoalhecho.cl/">Del dicho al hecho</a>
									</li>
									<li>
										<a href="https://escueladeincidencia.org/">Escuela de Incidencia</a>
									</li>
									<li>
										<a href="http://partidospublicos.cl/">Partidos Públicos</a>
									</li>
									<li>
										<a href="http://votainteligente.cl/">Vota Inteligente</a>
									</li><li>
										<a href="https://hayacuerdo.ciudadanointeligente.org/">Hay Acuerdo</a>
									</li>
								</ul>
							</div>
						</div>

<!-- Proyectos Ciudadano inteligente -->
					<div class="column width-3">
						<div class="widget">
							<h4 class="widget-title">Dónde encontrarnos</h4>
								<p class="no-margin-bottom">
								<a href="mailto:contacto@chileleaks.org">contacto@chileleaks.org</a></p>
								<ul class="social-list list-horizontal no-margin-bottom">
									<li><a class="no-margin-right" href="https://twitter.com/ciudadanoi?lang=es">Twitter</a> |</li>
									<li><a href="https://www.facebook.com/ciudadanointeligente/">Facebook</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>
