
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta property="og:title" content="Chileleaks"/>
	<meta property="og:type" content="Sitio Chileleaks" />
	<meta property="og:image" content="images/logo.png" />
	<meta property="og:description" content="Chileleaks Plataforma de denuncias para casos de cohecho en Chile" />
	<title>Chileleaks</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

	<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
	<!-- CSS -->
<link rel="stylesheet" href="css/core.min.css" />
<link rel="stylesheet" href="css/style.css" />

</head>

	<!-- Body -->
<body class="home-page">
		<!-- Nav -->
	<div class="overlay-navigation-wrapper" data-no-scrollbar data-animation="scale-in">
		<div class="overlay-navigation-scroll-pane">
			<div class="overlay-navigation-inner">

				<div class="v-align-middle">

					<div class="overlay-navigation-header row collapse full-width">
						<div class="column width-12">
							<div class="navigation-hide overlay-nav-hide">
								<a href="#">
									<span class="icon-cancel"></span>
								</a>
							</div>
						</div>
					</div>

					<div class="row collapse full-width">
						<div class="column width-12">
							<nav class="overlay-navigation nav-block center">
								<ul>
									<li>
										<a href="index.html">Inicio</a>
									</li>
									<li>
										<a href="about.html">Quiénes somos</a>
									</li>
									<li>
										<a href="aliados.html">Aliados</a>
									</li>
									<li>
										<a href="faq.html">Preguntas frecuentes</a>
									</li>
									<li>
										<a href="denuncia.html">Cómo denunciar</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>

					<div class="overlay-navigation-footer row full-width center">
						<div class="column width-12 no-padding">
							<p class="copyright">&copy; Chileleaks. Un proyecto de Ciudadanía Inteligente</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- Nav -->


	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

<!-- Header -->

			<header class="header header-absolute header-fixed-on-mobile" data-sticky-threshold="0" data-bkg-threshold="100">

				<div class="header-inner">
					<div class="row nav-bar">
						<div class="column width-12 nav-bar-inner">

							<div class="logo">
								<div class="logo-inner">
									<a href="index.html"><img src="images/logo-dark.png" alt="Chileleaks Logo" /></a>
									<a href="index.html"><img src="images/logo-dark.png" alt="Chileleaks Logo" /></a>
								</div>
							</div>

							<nav class="navigation nav-block secondary-navigation nav-right">
								<ul>
									<li>
										<div class="v-align-middle">
											<span class="hide-on-mobile">
												<a href="denuncia.html" class="button medium text-uppercase pull-right no-margin-bottom"><strong>¿Cómo denuncio?</strong></span></a>
										</div>
									</li>

									<li class="aux-navigation hide">
										<a href="#" class="navigation-show overlay-nav-show nav-icon"><span class="icon-menu"></span></a>
									</li>
								</ul>
							</nav>

							<nav class="navigation nav-block primary-navigation nav-center">
								<ul>
									<li class="current">
										<a href="index.html">Inicio</a>
									</li>
									<li>
										<a href="about.html">Quiénes somos</a>
									<li>
										<li>
											<a href="aliados.html">Aliados</a>
										</li>
										<li>
										<a href="faq.html">Preguntas frecuentes</a>
									</li>
								</ul>
							</nav>

						</div>
					</div>
				</div>
			</header>

<!-- Header End -->
