<!-- Overlay Navigation Menu -->
<div class="overlay-navigation-wrapper" data-no-scrollbar data-animation="scale-in">
  <div class="overlay-navigation-scroll-pane">
    <div class="overlay-navigation-inner">
      <div class="v-align-middle">
        <div class="overlay-navigation-header row collapse full-width">
          <div class="column width-12">
            <div class="navigation-hide overlay-nav-hide">
              <a href="#">
                <span class="icon-cancel"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="row collapse full-width">
          <div class="column width-12">
            <nav class="overlay-navigation nav-block center">
              <ul>

                <li>
                  <a href="/" class="contains-sub-menu">Inicio</a>

                </li>
                <li>
                  <a href="/" class="contains-sub-menu">Cómo funciona</a>

                </li>
                <li>
                  <a href="/" class="contains-sub-menu">Quiénes somos</a>


                </li>

                <li>
                  <a href="/" class="contains-sub-menu">Preguntas frecuentes</a>

                </li>

                </li>

              </ul>
            </nav>
          </div>
        </div>
        <div class="overlay-navigation-footer row full-width center">
          <div class="column width-12 no-padding">
            <p class="copyright">&copy; Chileleaks. Un proyecto de Ciudadanía Inteligente</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Overlay Navigation Menu End -->
