

<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta property="og:title" content="Chileleaks"/>
	<meta property="og:type" content="Sitio Chileleaks" />
	<meta property="og:image" content="images/logo.png" />
	<meta property="og:description" content="Chileleaks Plataforma de denuncias para casos de cohecho en Chile" />
	<title>Chileleaks</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

	<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
	<!-- CSS -->
<link rel="stylesheet" href="css/core.min.css" />
<link rel="stylesheet" href="css/style.css" />

</head>
