<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
  <meta property="og:title" content="Chileleaks" />
  <meta property="og:type" content="Sitio Chileleaks" />
  <meta property="og:image" content="images/chileleaksmedios.png" />
  <meta property="og:description" content="Denuncia corrupción de forma anónima y segura." />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="images/chileleaksmedios.png" />


  <title>Chileleaks</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

  <!-- bootstrap -->
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <script src="{{ "/js/popper.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>


  <!-- style -->
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/all.css" | prepend: site.baseurl }}">

  <!-- Font -->
  <link href="{{ "/css/fonts.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/css/fonts_2.css" | prepend: site.baseurl }}" rel="stylesheet">
  
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DE25PQ873N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DE25PQ873N');
</script>

</head>
