<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
  <meta property="og:title" content="Chileleaks" />
  <meta property="og:type" content="Sitio Chileleaks" />
  <meta property="og:image" content="/" />
  <meta property="og:description" content="Plataforma para denunciar anónimamente casos de corrupción en Chile" />
  <title>Chileleaks</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- style -->
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <!-- Font -->
  <link <link href="//fonts.googleapis.com/css?family=Karla:400,700|Poppins:700" rel="stylesheet">


</head>
