// Colors
$blue: #080830;
$cyan: #74C5CD;
$yellow: #F8B126;
$magenta: #D3326F;
$red: #E8453B;
$gray: #3B3B3B;


// General

body {
  font-family: 'Karla', sans-serif;
}

h1,h2,h3,h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
