---
layout: default
---

<!-- Content -->
			<div class="content clearfix">

<!-- About Chileleaks -->
				<section id="about" class="section-block featured-media window-height tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-parallax-fade-out data-scale-under="960">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#00000" data-overlay-bkg-opacity="0.05">
								<div class="tms-content">
									<div class="tms-content-inner v-align-middle">
										<div class="row">
											<div class="column width-10 offset-1 pd-20 center">
												<h5 class="tms-caption text-uppercase weight-bold color-white mb-10"
													data-animate-in="preset:slideInDownShort;duration:900ms;delay:100ms;"
													data-no-scale
												>Chileleaks es una iniciativa impulsada por la Fundación Ciudadano Inteligente </h5>
												<div class="clear"></div>
												<h3 class="tms-caption title-large  lspacing-medium weight-bold color-white mb-10"
													data-animate-in="preset:slideInDownShort;duration:900ms;delay:300ms;"
													data-no-scale
												>Denuncia de forma anónima casos de corrupción en Chile </h3>
												<div class="clear"></div>

											</div>
										</div>
									</div>
								</div>
								<div class="tms-caption"
									data-animate-in="preset:slideInUpShort;duration:1000ms;delay:1000ms;"
									data-x="center"
									data-y="bottom"
									data-offsety="50">
									<a href="#about" class="icon-circled icon-down-open-mini medium scroll-link border-white bkg-hover-theme color-white color-hover-white no-margins" data-offset="-60"></a>
								</div>
								<img data-src="images/slide-about.jpg" data-retina src="images/slide-about.jpg" alt=""/>
							</li>
						</ul>
					</div>
				</section>
<!-- About Chileleaks -->

<!-- About Ciudadano inteligente-->


					<div class="section-block pb-0">
						<div class="row">
							<div class="column width-6 offset-3 center">
								<h2 class="mb-40"><strong>Ciudadano Inteligente</strong></h2>
							</div>
							<div class="column width-8 offset-2 center">
								<p>Ciudadano Inteligente es una organización sin fines de lucro que desde 2009
									busca fortalecer las democracias de Latinoamérica, mejorando las reglas del juego
									e impulsando el empoderamiento ciudadano mediante el uso innovador de tecnologías
									y la promoción de la transparencia. Puedes conocer <a href="https://ciudadanointeligente.org">más de nuestra organización, su financiamiento y equipo aquí</a>.
								</p>
							</div>
						</div>
					</div>

					<!-- Video -->
					<div class="section-block stats-3 left pt-20 pb-0">
						<div class="row">
							<div class="column width-10 offset-1">
								<div class="thumbnail">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/ebqcMx55qn8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
<!-- About Ciudadano inteligente-->



<!-- Aliados logos-->
				<div class="section-block logos-1 pt-50">
					<div class="row">
						<div class="column width-12 center">
							<h6 class="mb-20 text-uppercase weight-bold color-grey-light">Aliados Chileleaks</h6>
							<div class="row content-grid-6 opacity-07">

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/24horas.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/24horascl.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/chilevision.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/eldesconcierto.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/elmostrador.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/informeespecial.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/mega.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/mediosregionales.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/redperiodistas.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/sabado.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/theclinic.svg" alt=""/>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
<!-- Aliados logos-->

		</div>



			<!-- Footer End -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/timber.master.min.js"></script>
