---
layout: default
---


<!-- Aliados -->
									<div class="section-block pb-0"></div>
									<!-- Intro End -->
										<div class="row">
											<div class="column width-4">
												<h2 class="mb-20">Medios<br>aliados</h2>
												<div class="row">
													<div class="column width-9">
														<div class="grid-filter-menu list-vertical no-padding left mb-mobile-50">
															<ul>
																<li><a class="active inline" href="#" data-filter="*">Todos</a></li>
																<li><a href="#" class="inline" data-filter=".nacionales">Nacionales</a></li>
																<li><a href="#" class="inline" data-filter=".regionales">Regionales</a></li>

															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="column width-6">
												<div class="grid-container fade-in-progressively no-margins" data-layout-mode="masonry" data-grid-ratio="1" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0.8">
													<div class="row">
														<div class="column width-12">
															<div class="row grid content-grid-4">
																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="24horas.cl" data-image-url="images/aliados/24horascl.png" href="images/aliados/24horascl.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/24horascl.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">24horas.cl</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>
																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="informe especial" data-image-url="images/aliados/informe.png" href="images/aliados/informe.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/informe.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">Informe Especial</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>
																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="24horas" data-image-url="images/aliados/24horas.png" href="images/aliados/24horas.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/24horas.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">24horas</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>
																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="Mega" data-image-url="images/aliados/mega.png" href="images/aliados/mega.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/mega.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">Mega</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>
																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="La Tercera" data-image-url="images/aliados/latercera.png" href="images/aliados/latercera.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/latercera.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">La Tercera</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>

																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="Chilevisión" data-image-url="images/aliados/chilevision.png" href="images/aliados/chilevision.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/chilevision.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">Chilevisión</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>
																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="The Clinic" data-image-url="images/aliados/theclinic.png" href="images/aliados/theclinic.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/theclinic.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">The Clinic</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>

																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="Mega" data-image-url="images/aliados/cnn.png" href="images/aliados/cnn.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/cnn.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">CNN</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>
																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="El mostrador" data-image-url="images/aliados/elmostrador.png" href="images/aliados/elmostrador.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/elmostrador.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">El Mostrador</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>
																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="El Desconcierto" data-image-url="images/aliados/eldesconcierto.png" href="images/aliados/eldesconcierto.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/eldesconcierto.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">El Desconcierto</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>


																<div class="grid-item grid-sizer nacionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="Sábado" data-image-url="images/aliados/sabado.png" href="images/aliados/sabado.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/sabado.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">Sábado</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>

																<div class="grid-item grid-sizer regionales">
																	<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
																		<a class="overlay-link lightbox-link" data-group="folio-1" data-caption="Medios Regionales" data-image-url="images/aliados/mediosregionales.png" href="images/aliados/mediosregionales.png" data-lightbox-animation="slideInRight">
																			<img src="images/aliados/mediosregionales.png" alt=""/>
																			<span class="overlay-info center">
																				<span>
																					<span>
																						<span class="left inline">
																							<span class="project-title">Medios Regionales</span>
																							<span class="project-description">Descripción breve</span>
																						</span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									<!-- Portfolio Grid End -->



						<!-- Js -->
							<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
							<script src="js/timber.master.min.js"></script>
