<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include header.html %}


		<div class="wrapper reveal-side-navigation">
			<div class="wrapper-inner">

					<!-- Header -->

				<header class="header header-absolute header-fixed-on-mobile" data-sticky-threshold="0" data-bkg-threshold="100">

					<div class="header-inner">
						<div class="row nav-bar">
							<div class="column width-12 nav-bar-inner">
								<div class="logo">
									<div class="logo-inner">
										<a href="index.html"><img src="images/logo-dark.png" alt="Chileleaks Logo" /></a>
										<a href="index.html"><img src="images/logo-dark.png" alt="Chileleaks Logo" /></a>
									</div>
								</div>
								<nav class="navigation nav-block secondary-navigation nav-right">
									<ul>

										<li>
											<!-- Button -->
											<div class="v-align-middle">
												<span class="hide-on-mobile"><a href="#" class="button scroll-link medium text-uppercase pull-right no-margin-bottom"><strong>Quiero denunciar</strong></span></a>
											</div>
										</li>
										<li class="aux-navigation hide">
											<!-- Aux Navigation -->
											<a href="#" class="navigation-show overlay-nav-show nav-icon">
												<span class="icon-menu"></span>
											</a>
										</li>
									</ul>
								</nav>
								<nav class="navigation nav-block primary-navigation nav-center">
									<ul>
										<li class="current">
											<a href="index.html">Inicio</a>

										</li>

										<li>
											<a href="">Quiénes somos</a>


										<li>
											<a href="">Preguntas frecuentes</a>

										</li>

									</ul>
								</nav>
							</div>
						</div>
					</div>
				</header>
				<!-- Header End -->
		{{ content }}
	</body>
</html>
