---
layout: default
---
<!-- Tooltip -->
<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>

<!-- Contenido -->
<div class="section-block replicable-content">

	<!-- Pasos 01-05 -->
	<div class="row">
		<div class="column width-10 offset-1">
			<div class="tabs horizontal center style-2">
				<ul class="tab-nav">


							<li class="active">
						<a href="#tabs-1-pane-1"><span><strong>1)</strong> Recopila </span> </a>
					</li>
					<li>
						<a href="#tabs-1-pane-2"><span><strong>2)</strong> Protégete</span> </a>
					</li>
					<li>
						<a href="#tabs-1-pane-3"><span><strong>3)</strong> Denuncia</span>   </a>
					</li>
					<li>
						<a href="#tabs-1-pane-4"><span><strong>4)</strong> Sigue tu caso</span>  </a>
					</li>
					<li>
						<a href="#tabs-1-pane-5"> <span><strong>5)</strong> Recomendaciones</span>  </a>
					</li>
				</ul>
				<div class="tab-panes">



					<!-- Paso 01 -->
					<div id="tabs-1-pane-1" class="active animate">
						<div class="tab-content pt-0">
							<h2><strong>Prepara tu denuncia</strong></h2>
							<img src="images/paso01.png">
							<p class="lead mt-20" >Recopila cualquier tipo de evidencia que permita investigar y probar casos de cohecho. <br><i>Pueden ser audios, videos, fotografías, textos o declaraciones.</i></p>

							<a data-content="inline" data-aux-classes="tml-message-modal" data-modal-mode  data-lightbox-animation="fadeIn" href="#message-modal" class="lightbox-link button bkg-theme bkg-hover-theme color-black color-hover-black"><strong>¿Qué es cohecho?</strong></a>
								<!-- Search Modal End -->
								<div id="message-modal" class="section-block pt-50 background-none hide">

									<!-- Message -->
									<div class="row">
										<div class="column width-12">
											<br>
											<h4><strong>¿Cómo saber si estás ante un caso de cohecho?</strong></h4>
												<li>Está involucrado al menos un funcionario/a público, que pide o recibe algún beneficio (dinero o regalo) para realizar alguna acción en el ejercicio de su cargo  para favorecer a un particular o empresa.</li>
												<li>Hay un particular (persona, empresa, institución, partido) que le ofrece o paga al funcionario público.</li>
												<li>El dinero o regalo que recibe el funcionario público es relevante para su nivel de ingresos (es decir, no es insignigicante para su situación económica).</li>
													<li><strong>Este es un buzón exclusivamente para denunciar cohecho. Si tienes un caso de otro tipo dirígete a: <a href="https://denunciacorrupcion.cl/" target="_blank">ALAC Chile</strong></a> o a la <a href="https://www.contraloria.cl/portalweb/web/cgr/portada#ciudadano" target="_blank">Contraloría</strong></a></li>

										</div>

										<div class="column width-12">
											<br>
											<h4><strong>¿Qué información necesitas tener para denunciar?</strong></h4>
													<li><strong>Descripción del caso</strong></li>
												- Quiénes son las o los involucrados.
												<br>- Cual fue la falta cometida.
												<br>- Cualquier otro dato que sirva para contextualizar la denuncia.
												<li><strong>Evidencia</strong></li>
													- Necesitas adjuntar algún tipo de prueba que nos ayude a verificar que tu denuncia es verdadera.
										</div>
										<div class="column width-4">
											<li>Fotografías</li>
											<li>Videos</li>
											<li>Boletas</li>
											<li>hojas de cálculo</li>
										</div>
										<div class="column width-4">

											<li>Pantallazos</li>
											<li>Documentos de textos</li>
											<li>Registros contables</li>
											<li>Doc. escaneados (PDF)</li>
										</div>
									</div>
									<!-- Message End -->

								</div>
								<!-- Search Modal End -->

						</div>
					</div>

					<!-- Paso 02 -->
					<div id="tabs-1-pane-2">
						<div id="tabs-1-pane-2" class="active animate">
							<div class="tab-content pt-0">
								<h2><strong>Protégete usando Tor</strong></h2>
								<img src="images/paso02.png">
								<p class="lead mt-20" >Denuncia siempre desde un dispositivo personal usando el <a target="_blank" href="https://tor.derechosdigitales.org/torificate//p1.1/"><strong>navegador Tor</a></strong> <a href="https://tor.derechosdigitales.org/torificate//p1.1/"></a> <br>Para extra seguridad, recomendamos usar (de forma optativa) el  <a target="_blank" href="https://tails.boum.org/install/index.es.html"><strong>sistema operativo Tails</a></strong> <a href="https://tails.boum.org/install/index.es.html"></a></p>


<a data-content="inline" href="https://www.torproject.org/download/download-easy.html.es" target="_blank" class="button button bkg-theme bkg-hover-yellow color-black color-hover-white"><strong>Link para descargar Tor</strong></a>
<!-- <a data-content="inline" data-aux-classes="tml-search-modal tml-exit-black" data-toolbar="" data-modal-mode data-modal-width="900" data-lightbox-animation="fadeIn" href="#search-modal" class="lightbox-link button bkg-theme bkg-hover-yellow color-white color-hover-white">Medidas extra: Tails</a> -->


	<div id="search-modal" class="hide">

		<!-- Hero Custom Section -->
		<div class="section-block pb-mobile-20 show-media-column-on-mobile">

			<div class="row">
				<div class="column width-10 offset-1">
					<div class="hero-content split-hero-content">

						<div class="hero-content-inner horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="0.6">


							<h4 class="mb-10"><strong>Medida extra: Sistema Operativo <a href="https://tails.boum.org/install/index.en.html">Tails</a></strong></h4>
							<p>Para añadir extra seguridad al proceso de denuncia, te recomendamos usar Tails, un sistema operativo que no requiere instalación y que puedes ejecutar en la mayoría de los computadores desde una memoria USB o pedrive.</p>




						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Hero Custom Section End -->

	</div>
	<!-- Subscribe Advanced Modal End -->

							</div>
						</div>
					</div>
					<!-- Paso 03 -->
					<div id="tabs-1-pane-3">
						<div id="tabs-1-pane-3" class="active animate">
							<div class="tab-content pt-0">
								<h2><strong>Sube la denuncia desde Tor</strong> </h2>
								<img src="images/paso03.png">
								<p class="lead mt-20" >Entra al formulario de denuncia desde el navegador Tor.

<br>Completa la información sobre el caso y adjunta documentos de evidencia.</p>

<h4><strong>Copia este link y ábrelo en Tor</strong></h4>


<div style="padding-bottom:10px"> <button onclick="myFunction()" style="background-color:#FFDE00;border-color:#FFDE00"><i class="fas fa-link" style="color:black"></i> <strong style="color:black">Copiar link para ingresar a Tor</strong></button>
<input style="width:50%;text-align:center" type="text" value="j4bamlgqpfln2757.onion" id="myInput">
</div>


											</div>
										</div>
					</div>
					<!-- Paso 04 -->
					<div id="tabs-1-pane-4">
														<div id="tabs-1-pane-4" class="active animate">
															<div class="tab-content pt-0">
																<h2><strong>Guarda tu código de seguimiento</strong></h2>
																<img src="images/paso04.png">
																<p class="lead mt-20" >Anota en algún lugar seguro el <strong>código</strong> que se te entregará al enviar tu denuncia. <br><strong>Es la única forma que tienes de hacer seguimiento a tu caso.</strong></p>
															</div>
														</div>
					</div>
					<!-- Paso 05 -->
					<div id="tabs-1-pane-5">
						<div id="tabs-1-pane-5" class="active animate">
							<div class="tab-content pt-0">
								<h2><strong>Actúa con discreción</strong> </h2>
								<img src="images/paso05.png">
								<p class="lead mt-20" >Tu anonimato y tu seguridad deben seguir siendo protegidos después de realizada la denuncia. <br><strong>No hacer publicaciones sobre tu denuncia en redes sociales, ni comentarla con cercanos, sobre todo si tienen algún vínculo con el caso.</strong></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Footer End -->

<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/timber.master.min.js" | prepend: site.baseurl }}"></script>
<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  document.execCommand("copy");
  alert("Texto copiado " + copyText.value);
}
</script>
