---
layout: default
---
<!-- Intro -->
<div class="section-block pb-0">

</div>
<!-- Intro End -->

<!-- Accordions Style Default -->
<div class="section-block pt-0 pb-0">
	<div class="row">
		<div class="column width-6">
				<h2 class="mb-20">Preguntas frecuentes</h2>
		</div>
		<div class="column width-12">
			<div class="accordion mb-50">
				<ul>

					<li>
						<a href="#accordion-1-panel-1"><strong>01 </strong>¿Qué es Chileleaks?</a>
						<div id="accordion-1-panel-1">
							<div class="accordion-content">

								<p>Chileleaks es un buzón seguro y anónimo, para denunciar casos de corrupción.
</p>
							</div>
						</div>
					</li>



					<li>
						<a href="#accordion-1-panel-2"><strong>02 </strong>¿Cómo funciona Chileleaks?</a>
						<div id="accordion-1-panel-2">
							<div class="accordion-content">

								<p>Chileleaks recibe denuncias de forma digital a través de <a href="">nuestro formulario</a>. Una vez que la denuncia está hecha, la o el denunciante recibe un código de denuncia que debe guardar en un lugar seguro. Con ese código, puede volver a entrar a Chileleaks y revisar en qué estado va su denuncia.

Una vez que recibimos la denuncia, esta es revisada para verificar que cumpla con requisitos mínimos de coherencia y evidencia disponible. Cada denuncia que pasa este filtro es asignada de manera aleatoria a uno de los <a href="">medios de comunicación</a> que integran nuestra alianza.

Cada medio de comunicación decide si acepta investigar el caso. Si lo rechazan, el caso pasa al medio siguiente en una lista aleatoria. Cada medio se hace responsable de investigar cada caso en profundidad, y de verificar que la información denunciada sea correcta.

La única forma que tiene el medio de contactarse con el denunciante es a través de la plataforma Chileleaks en Tor, donde se pueden intercambiar mensajes con la o el denunciante a través de su código de denuncia. Si el caso no es tomado por ningún medio, pero podría denunciarse en la justicia, te podemos recomendar (a través del sitio en Tor) acudir a <a href="http://denunciacorrupcion.cl">ALAC, la oficina de asesoría legal anticorrupción de Chile Transparente</a>.
</p>
							</div>
						</div>
					</li>



					<li>
						<a href="#accordion-1-panel-3"><strong>03 </strong>¿Por qué denunciar? </a>
						<div id="accordion-1-panel-3">
							<div class="accordion-content">
								<p>Tanto funcionarios públicos como la ciudadanía tienen el DEBER de denunciar casos de corrupción y vicios dentro de órganos públicos.
								</p>
							</div>
						</div>
					</li>




					<li>
						<a href="#accordion-1-panel-4"><strong>04 </strong>¿Qué tipo de denuncias recibe Chileleaks?  </a>
						<div id="accordion-1-panel-4">
							<div class="accordion-content">
								<p>Denuncias de cohecho (también conocido como coimas o soborno). Esto es pagar a un funcionario/a público por hacer o no hacer algo para beneficiar a alguna persona, sector o empresa en particular. Recibimos cualquier tipo de evidencia que permita investigar y probar estos delitos (documentos de texto, balances contables, boletas, fotografías, videos, etc).
							</div>
						</div>
					</li>



					<li>
						<a href="#accordion-1-panel-5"><strong>05 </strong> ¿Qué tipo de denuncias no recibe Chileleaks?  </a>
						<div id="accordion-1-panel-5">
							<div class="accordion-content">
								<p>Denuncias sin información o evidencia relevante que demuestre o guíe la investigación.
							</div>
						</div>
					</li>



					<li>
						<a href="#accordion-1-panel-6"><strong>06 </strong> ¿Cómo realizo una denuncia en Chileleaks?</a>
						<div id="accordion-1-panel-6">
							<div class="accordion-content">
								<p>Debes copiar el siguiente enlace <a href="#"></a> y abrirlo en el navegador Tor (que puedes descargar en este <a href="https://www.torproject.org/download/download.html">link</a>). Luego sigue las instrucciones. </p>
							</div>
						</div>
					</li>


					<li>
						<a href="#accordion-1-panel-7"><strong>07 </strong> ¿Qué información necesito tener para denunciar? </a>
						<div id="accordion-1-panel-7">
							<div class="accordion-content">
								<p>Debes redactar los hechos y adjuntar evidencia/registros suficientes para verificar la denuncia y sustentar una posible investigación.
				</p>
							</div>
						</div>
					</li>



					<li>
						<a href="#accordion-1-panel-8"><strong>08 </strong> ¿A qué se refieren cuando dicen que debo adjuntar evidencia con mi denuncia?</a>
						<div id="accordion-1-panel-8">
							<div class="accordion-content">
								<p>La única forma de que tu denuncia pueda ser considerada por medios de comunicación es si viene con evidencia que permita probar el delito o falta que estás denunciando. Esto puede ser fotografías, videos, documentos escaneados (PDF), pantallazos, documentos de textos, hojas de cálculo, boletas, registros contables, etc. Si no tienes la evidencia, te pedimos que nos indiques dónde buscarla, para que pueda realizarse la investigación necesaria.
				</p>
							</div>
						</div>
					</li>




					<li>
						<a href="#accordion-1-panel-9"><strong>09 </strong> ¿Qué precauciones debo tener para realizar una denuncia?</a>
						<div id="accordion-1-panel-9">
							<div class="accordion-content">
								<p>Recuerda revisar tu denuncia. No se realizarán investigaciones a casos que no correspondan a corrupción y no adjunten evidencia o registros suficientes para comprobar su veracidad.
</p>
							</div>
						</div>
					</li>

					<li>
						<a href="#accordion-1-panel-10"><strong>10 </strong> ¿Existen leyes en Chile que protejan a quienes denuncian corrupción?
					</a>
						<div id="accordion-1-panel-10">
							<div class="accordion-content">

								<p>En Chile la ley sólo protege a denunciantes que son funcionarias/os públicos. Es decir, cualquier persona que no trabaje para el Estado no cuenta con leyes que proteja a quienes denuncian la corrupción. Desde Ciudadano Inteligente creemos que es urgente actualizar la legislación para que esta resguarde a los denunciantes y promueva una cultura de exposición de la corrupción. Además, es necesario actualizar la ley ya existente (N° 20.205) para que la protección a funcionarios se extienda por más de tres meses y no les obligue a exponer su identidad.
					</p>
							</div>
						</div>
					</li>

					<li>
						<a href="#accordion-1-panel-11"><strong>11 </strong> ¿Cómo protege Chileleaks mi anonimato? </a>
						<div id="accordion-1-panel-11">
							<div class="accordion-content">

								<p>ChileLeaks protege tu anonimato, primero, al no exigir ningún tipo de dato personal (como nombre, RUT, o correo electrónico) para hacer tu denuncia. Además, sólo recibimos denuncias ingresadas por un formulario a través de <a href="">nuestro sitio en TOR </a>, un navegador que impide que tu actividad en Internet sea rastreada por externos. Además, sugerimos a las y los denunciantes sólo hacer denuncias desde computadores o teléfonos personales, y nunca alertar en redes sociales o a conocidos sobre la denuncia que se realizó. Para quienes deseen una capa extra de seguridad, recomendamos ejecutar el <a href="">sistema operativo Tails</a> desde una memoria USB (pendrive). Tu identidad nunca será conocida por Ciudadano Inteligente ni los medios de comunicación que podrían investigar tu denuncia a menos que tú decidas revelarla a través de la plataforma en Tor.

</p>
							</div>
						</div>
					</li>



								<li>
											<a href="#accordion-1-panel-12"><strong>12 </strong>¿Qué es TOR? </a>
											<div id="accordion-1-panel-12">
												<div class="accordion-content">
													<p>TOR es un navegador web (como Internet Explorer, Google Chrome o Mozilla Firefox) ultra seguro, porque impide que tu actividad en Internet sea rastreado por otros. Si quieres conocer más información sobre Tor y cómo instalarlo, <a href="">entra aquí</a>.
												</div>
											</div>
										</li>



										<li>
											<a href="#accordion-1-panel-13"><strong>13 </strong>¿Por qué tengo que usar Tor? </a>
											<div id="accordion-1-panel-13">
												<div class="accordion-content">
													<p>Tu seguridad y anonimato es lo más importante. Los navegadores como Chrome, Explorer, Safari, Firefox, etc, NO SON SEGUROS. Descarga Tor y denuncia de forma segura.
					</p>
												</div>
											</div>
										</li>

										<li>
											<a href="#accordion-1-panel-14"><strong>14 </strong> ¿Qué pasa después de que hago mi denuncia?
									</a>
											<div id="accordion-1-panel-14">
												<div class="accordion-content">

													<p>Una vez hecha tu denuncia, nuestro formulario en Tor te entrega un código de seguimiento, que debes guardar en un lugar seguro. Es sólo con ese código que podrás entrar de nuevo a la plataforma de Chileleaks en Tor y ver en qué estado está tu denuncia. Si tu caso es tomado por un medio de comunicación para ser investigado, será ese código el que te permita entregar más información al equipo de prensa, de ser necesaria. Si la denuncia es considerada de interés noticioso por el medio, y la investigación periodística permite probar delitos o faltas, es probable que sea publicada. <p><strong> Es importante que no olvides ingresar constantemente a la plataforma de denuncia desde Tor para conocer el estado de tu denuncia. </strong></p>

									</p>
												</div>
											</div>
										</li>

										<li>
											<a href="#accordion-1-panel-15"><strong>15 </strong>¿Qué es el código de denuncia y por qué tengo que guardarlo?
										</a>
											<div id="accordion-1-panel-15">
												<div class="accordion-content">

													<p>El código de denuncia un número que identifica tu caso. Lo debes guardar porque es la única forma en la que puedes hacer seguimiento de tu denuncia y su progreso. Asimismo, es la única forma en la que el medio de comunicación puede contactarse contigo de necesitar información sobre el caso. Chileleaks no contacta denunciantes por correo electrónico, teléfono, o cualquier otra forma que no sea la plataforma de denuncia en Tor, por lo que es importante que revises sistemáticamente la plataforma para enterarte de cualquier avance o pregunta.


										</p>
												</div>
											</div>
										</li>

										<li>
											<a href="#accordion-1-panel-16"><strong>16 </strong>¿Cómo hago seguimiento de mi caso?
										</a>
											<div id="accordion-1-panel-16">
												<div class="accordion-content">

													<p>Una vez enviada la denuncia, te entregaremos un código de seguimiento que podrás usar para revisar tu caso, entregar más evidencia o contactar al medio que realiza la investigación. Es la única vía segura de comunicación.

										</p>
												</div>
											</div>
										</li>

										<li>
											<a href="#accordion-1-panel-17"><strong>17 </strong>¿Quién realiza la investigación?	</a>
											<div id="accordion-1-panel-17">
												<div class="accordion-content">
													<p>El proceso de investigación de cada denuncia es llevado a cabo por los medios de comunicación que integran la alianza Chileleaks, quienes se aseguran de analizar en profundidad cada caso y de publicar sólo aquellos en los que hay evidencia suficiente para respaldar la denuncia. Puedes conocer nuestros medios aliados <a href="quienessomos.html"> aquí</a>.
									</p>
												</div>
											</div>
										</li>


										<li>
											<a href="#accordion-1-panel-18"><strong>18 </strong> ¿Todas las denuncias que recibe ChileLeaks serán publicadas en medios de comunicación?
									</a>
											<div id="accordion-1-panel-18">
												<div class="accordion-content">

													<p>No. Cada medio de comunicación recibe de ChileLeaks denuncias que cumplen con requisitos mínimos de coherencia y disponibilidad de evidencia. Queda a criterio de cada medio el definir si estas denuncias son de su interés para investigarlas, y (si son investigadas) si cumplen con estándares de veracidad que permitan su publicación.

									</p>
												</div>
											</div>
										</li>















				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Accordions Style Default -->


			<!-- Footer End -->
			<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
			<script src="{{ "/js/timber.master.min.js" | prepend: site.baseurl }}"></script>
