---
layout: default
---

<div class="content clearfix">

<!-- Hero-->
	<section id="home" class="section-block featured-media window-height tm-slider-parallax-container">
		<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax
		data-parallax-fade-out data-animation="slide" data-scale-under="960">
			<ul class="tms-slides">

				<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000"
				data-overlay-bkg-opacity="0.0">
					<div class="tms-content">
						<div class="tms-content-inner v-align-middle row">
							<div class="col-md-8 offset-md-2">
								<h1 class="tms-caption color-white lspacing-medium mb-20"
								data-animate-in="preset:slideInRightShort;duration:800ms;delay:400ms;"
								data-no-scale> <strong>Denuncia aquí de forma segura y anónima casos de corrupción</strong></h1>
								<p class="tms-caption text-medium lspacing-small color-white"
									data-animate-in="preset:slideInUpShort;duration:800ms;delay:800ms;"
									data-no-scale>¡Tú puedes ayudarnos a encontrar al<br>
									<em>hijo o hija ilustre</em> de Las Coimas!</p>

										<div class="clear"></div>


								<div class="clear"></div>

								<div class="tms-caption"
										data-animate-in="preset:scaleIn;duration:900ms;delay:1200ms;"
										data-no-scale>

										<a href="https://player.vimeo.com/video/53846565?autoplay=1"
										class="lightbox-link color-white" data-lightbox-animation="fade" data-toolbar="zoom">
										<span class="icon-circled border-white icon-play medium no-margins" data-no-scale></span>
										</a>

								</div>
							</div>
						</div>
					</div>

					<img data-src="images/slider.jpg" data-retina src="{{ site.baseurl }}images/slider.jpg" alt=""/>

				</li>
			</ul>
		</div>
	</section>
<!-- Hero-->

<!-- Qué es Chileleaks - denuncias - cohecho -informacion denuncia -->
	<div class="section-block replicable-content">
		<div class="row flex mt-30">
			<div class="column width-12 center">
				<div class="mb-30">
					<img src="images/logo-big.svg" alt="chileleaks-logo" />
				</div>
					<div class="clear"></div>
						<p class="lead mb-30">Chileleaks es una plataforma segura para denunciar de
							forma anónima casos de corrupción en Chile. Si posees información, datos y/o
							pruebas de personas en cargos públicos que fomenten estas malas prácticas,
							<a href=denuncia.html>denuncia acá</a>.</p>
					</div>

			<div class="column width-4">
				<div class="feature-column box small bkg-white mb-50 left">
					<i class="fas fa-check"></i>
						<div class="feature-text">
						<h4>¿Qué casos puedo denunciar?</h4>
						<p>Puedes denunciar casos de <strong>cohecho</strong>
						(también conocido como coima o soborno.) Acción de ofrecer,
						prometer o entregar intencionalmente un pago o beneficio indebido a
						un funcionario público, con la finalidad de que éste realice u omita la
						realización de una determinada actuación oficial.</p>
					</div>
				</div>
			</div>

			<div class="column width-4">
				<div class="feature-column box small bkg-white mb-50 left">
					<i class="fas fa-check"></i>
					<div class="feature-text">
						<h4>¿Cómo saber si mi caso es cohecho? </h4>
						<p><strong>(a)</strong> Debe estar involucrado al menos un funcionario/a público.
						<strong>(b)</strong> Debe estar involucrado un particular (persona, empresa,
						institución, partido, etc) que influencie al funcionario, por medio de promesas,
						amenazas, compensaciones, dinero, etc. <strong>(c)</strong> El dinero o regalo que
						recibe el funcionario público debe ser relevante para su nivel de ingresos.</p>
					</div>
				</div>
			</div>

			<div class="column width-4">
				<div class="feature-column box small bkg-white mb-50 left">
						<i class="fas fa-check"></i>
							<div class="feature-text">
								<h4>¿Qué información debo tener para denunciar? </h4>
								<p><strong>Descripción del caso:</strong> Quiénes son las o los involucrados,
									cuál fue la falta cometida y cualquier otro dato que sirva para contextualizar
									la denuncia.
									<div class="clear"></div>
							<strong>Evidencia:</strong> Prueba que ayude a verificar que la
							denuncia es verdadera. Pueden ser fotografías, videos, pantallazos,
							hojas de cálculos, boletas, registros contables, etc.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
<!-- Qué es Chileleaks - denuncias - cohecho -informacion denuncia -->

<!-- Carrusel frases -->
	<div class="section-block pt-0 pb-0">
		<div class="hero-slider tm-slider-container" data-width="2500" data-height="1600" data-scale-min-height="700">
			<ul class="tms-slides">
				<li class="tms-slide" data-image data-as-bkg-image>
					<div class="tms-caption hero-content split-hero-content column width-5 offset-1 no-transition" data-no-scale>
						<div class="hero-content-inner">
							<div class="tms-content-scalable color-white">
								<div class="row">
									<div class="column width-10 offset-1">
										<h3 class="mb-40"><strong>
											"El empleado que, en el interés público, tiene la independencia
											de juicio y el coraje personal para desafiar la mala práctica o la
											ilegalidad es una especie de héroe público".
										</strong></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<img data-src="images/slide-intro.jpg" data-retina src="images/slide-intro.jpg" alt=""/>
				</li>
			</ul>
		</div>
	</div>
<!-- Carrusel frases -->


<section id="comofunciona">

<!-- Como funciona-->
<!-- 01-->
		<div class="section-block bkg-white comofunciona-1 overflow-visible pb-110">
			<h6 class="mb-20 text-uppercase weight-bold color-grey-light">Cómo funciona</h6>

			<div class="row">
				<div class="column width-6 offset-3">
					<div class="feature-content">
						<div class="feature-content-inner pt-50">
							<h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.2;rotate:none;"><strong>01</strong></h4>
							<h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">Sube el caso de corrupción y la evidencia a la plataforma</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="column width-12">
					<div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
						<img src="images/img-comofunciona-01.png" width="450" alt=""/>
					</div>
					<u><a href="denuncia.html">Revisa los requerimientos.</a></u>
				</div>
			</div>
		</div>

<!-- 02-->
		<div class="section-block bkg-white comofunciona-1 overflow-visible pb-110">
			<div class="row">
				<div class="column width-6 offset-3">
					<div class="feature-content">
						<div class="feature-content-inner pt-50">
							<h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.2;rotate:none;"><strong>02</strong></h4>
							<h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">El caso será asignado a un medio para su investigación periodística</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="column width-12">
					<div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
						<img src="images/img-comofunciona-02.png" width="450" alt=""/>
					</div>
					<u><a href="aliados.html">Revisa los medios que trabajan con Chileleaks.</a></u>
				</div>
			</div>
		</div>

<!-- 03-->
		<div class="section-block bkg-white comofunciona-1 overflow-visible pb-110">
			<div class="row">
				<div class="column width-8 offset-2">
					<div class="feature-content">
						<div class="feature-content-inner pt-50">
							<h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.2;rotate:none;"><strong>03</strong></h4>
							<h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">El caso es publicado por el medio que realizó la investigación</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="column width-12">
					<div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
						<img src="images/img-comofunciona-03.png" width="450" alt=""/>
					</div>
					<u><a href="denuncia.html">Haz seguimiento de tu caso con tu código de denuncia.</a></u>
				</div>
			</div>
		</div>

	</section>
<!-- Como funciona-->



</div>

<!-- Footer End -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="/js/timber.master.min.js"></script>
