---
layout: default
---

<body class="shop home-page">

	<!-- Overlay Navigation Menu -->
	<div class="overlay-navigation-wrapper" data-no-scrollbar data-animation="scale-in">
		<div class="overlay-navigation-scroll-pane">
			<div class="overlay-navigation-inner">
				<div class="v-align-middle">
					<div class="overlay-navigation-header row collapse full-width">
						<div class="column width-12">
							<div class="navigation-hide overlay-nav-hide">
								<a href="#">
									<span class="icon-cancel"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="row collapse full-width">
						<div class="column width-12">
							<nav class="overlay-navigation nav-block center">
								<ul>

									<li>
										<a href="index.html" class="contains-sub-menu">Inicio</a>

									</li>
									<li>
										<a href="comofunciona.html" class="contains-sub-menu">Cómo funciona</a>

									</li>
									<li>
										<a href="quienessomos.html" class="contains-sub-menu">Quiénes somos</a>


									</li>

									<li>
										<a href="faq.html" class="contains-sub-menu">Preguntas frecuentes</a>

									</li>

									</li>

								</ul>
							</nav>
						</div>
					</div>
					<div class="overlay-navigation-footer row full-width center">
						<div class="column width-12 no-padding">
							<p class="copyright">&copy; Chileleaks. Un proyecto de Ciudadanía Inteligente</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Overlay Navigation Menu End -->

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

				<!-- Header -->

			<header class="header header-absolute header-fixed-on-mobile" data-sticky-threshold="0" data-bkg-threshold="100">

				<div class="header-inner">
					<div class="row nav-bar">
						<div class="column width-12 nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="index.html"><img src="images/logo-dark.png" alt="Chileleaks Logo" /></a>
									<a href="index.html"><img src="images/logo-dark.png" alt="Chileleaks Logo" /></a>
								</div>
							</div>
							<nav class="navigation nav-block secondary-navigation nav-right">
								<ul>

									<li>
										<!-- Button -->
										<div class="v-align-middle">
											<span class="hide-on-mobile"><a href="#" class="button scroll-link medium text-uppercase pull-right no-margin-bottom"><strong>Quiero denunciar</strong></span></a>
										</div>
									</li>
									<li class="aux-navigation hide">
										<!-- Aux Navigation -->
										<a href="#" class="navigation-show overlay-nav-show nav-icon">
											<span class="icon-menu"></span>
										</a>
									</li>
								</ul>
							</nav>
							<nav class="navigation nav-block primary-navigation nav-center">
								<ul>
									<li class="current">
										<a href="index.html">Inicio</a>

									</li>

									<li>
										<a href="quienessomos.html">Quiénes somos</a>


									<li>
										<a href="faq.html">Preguntas frecuentes</a>

									</li>

								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header End -->



			<!-- Content -->
			<div class="content clearfix">


				<!-- Home -->
				<section id="home" class="section-block featured-media window-height tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="960">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.0">
								<div class="tms-content">
									<div class="tms-content-inner center v-align-middle">
										<div class="column width-12 center">
											<p class="tms-caption text-medium lspacing-small color-white no-margin-bottom"
												data-animate-in="preset:slideInUpShort;duration:800ms;delay:800ms;"
												data-no-scale
											><span class="text-uppercase">Rompe la cadena de la</span> <em>corrupción</em> <span class="text-uppercase">en Chile</span></p>
											<div class="clear"></div>
											<h3 class="tms-caption title-medium color-white lspacing-medium mb-20 center"
												data-animate-in="preset:slideInRightShort;duration:800ms;delay:400ms;"
												data-no-scale
											>
											<strong style="background-color:#000">¡Denuncia casos de cohecho!</strong>
											</h3>
											<div class="clear"></div>
											<div class="tms-caption"
													data-animate-in="preset:scaleIn;duration:900ms;delay:1200ms;"
													data-no-scale
												>
													<a href="https://player.vimeo.com/video/53846565?autoplay=1" class="lightbox-link color-white" data-lightbox-animation="fade" data-toolbar="zoom">
														<span class="icon-circled border-white icon-play medium no-margins" data-no-scale></span>
													</a>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/slider.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Home End -->

				<!-- Feature Column Section -->
				<div class="section-block replicable-content">
					<div class="row flex">
						<div class="column width-12 center">
							<a href="index.html"><img src="images/logo-dark.png" alt="chileleaks-logo" /></a>
							<br>
							<p class="lead text-medium mb-110">Envía de forma anónima evidencia para denunciar casos de corrupción que podrán ser investigados por medios de comunicación.</p>
						</div>
						<div class="column width-4">
							<div class="feature-column box small bkg-white mb-50 left">
								<span class="feature-icon icon-map color-theme"></span>
								<div class="feature-text">
									<h4>¿Qué casos puedes denunciar? </h4>
									<p></p>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="feature-column box small bkg-white mb-50 left">
								<span class="feature-icon icon-add-to-list color-theme"></span>
								<div class="feature-text">
									<h4>02 Protégete</h4>
									<p>Make any design stand out by using a combination of the 20+ components that come with Sartre. Accordions, tabs, buttons and much more.</p>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="feature-column box small bkg-white mb-50 left">
								<span class="feature-icon icon-power-plug color-theme"></span>
								<div class="feature-text">
									<h4>8+ Plugins</h4>
									<p>As with all our templates, Sartre comes with 8 premium in-house developed plugins, which means that when there's an update, you'll get it.</p>
								</div>
							</div>
						</div>



					</div>
				</div>
				<!-- Feature Column Section End -->

				<!-- Hero 2 Section -->
				<div class="section-block hero-2 hero-2-1 clear-height pt-80 pb-80 color-white">
					<div class="row">
						<div class="column width-12">
							<h3 class="mb-30">The Team</h3>
						</div>
						<div class="column width-6">
							<p class="lead mb-0 mb-mobile-30">With more than 30 years of experience our company is well positioned to take on your next project.</p>
						</div>
						<div class="column width-4 offset-2 right left-on-mobile">
							<a href="#" class="button medium border-white color-white bkg-hover-theme color-hover-white pd-10">Hire Sartre Today</a>
						</div>
					</div>
				</div>
				<!-- Hero 2 Section End -->


				<section id="features">



				<!-- Feature Section 1 -->
					<div class="section-block bkg-white feature-1 overflow-visible pb-110">
									<h6 class="mb-20 text-uppercase weight-bold color-grey-light">Cómo funciona</h6>
						<div class="row">
							<div class="column width-6 offset-3">
								<div class="feature-content">
									<div class="feature-content-inner pt-50">
										<h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.2;rotate:none;"><strong>01</strong></h4>

										<h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">Sube el caso de corrupción y la evidencia a la plataforma</h2>



									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="column width-12">
								<div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
									<img src="images/img-comofunciona-01.png" width="450" alt=""/>

								</div>
								<u><a href="">Revisa los requerimientos.</a></u>
							</div>
						</div>

					</div>
					<!-- Feature Section 1 End -->
<!-- Feature Section 1 -->
					<div class="section-block bkg-white feature-1 overflow-visible pb-110">
						<div class="row">
							<div class="column width-6 offset-3">
								<div class="feature-content">
									<div class="feature-content-inner pt-50">
										<h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.2;rotate:none;"><strong>02</strong></h4>

										<h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">El caso es asignado a un medio para la investigación periodística</h2>



									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="column width-12">
								<div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
									<img src="images/img-comofunciona-02.png" width="450" alt=""/>

								</div>
								<u><a href="#">Revisa los medios que trabajan con Chileleaks.</a></u>
							</div>
						</div>

					</div>
					<!-- Feature Section 1 End -->

					<!-- Feature Section 1 -->
					<div class="section-block bkg-white feature-1 overflow-visible pb-110">
						<div class="row">
							<div class="column width-8 offset-2">
								<div class="feature-content">
									<div class="feature-content-inner pt-50">
										<h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.2;rotate:none;"><strong>03</strong></h4>

										<h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">El caso es publicado por el medio que realizó la investigación</h2>



									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="column width-12">
								<div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
									<img src="images/img-comofunciona-03.png" width="450" alt=""/>

								</div>
								<u><a href="#">Revisa cómo se resguarda tu anonimato.</a></u>
							</div>
						</div>

					</div>
					<!-- Feature Section 1 End -->

				</section>
				<!-- Features End -->


				<!-- Logo Section 1 -->
				<div class="section-block logos-1 pt-50">
					<div class="row">
						<div class="column width-12 center">
							<h6 class="mb-20 text-uppercase weight-bold color-grey-light">Aliados Chileleaks</h6>
							<div class="row content-grid-6 opacity-07">
								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/24horas.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/24horascl.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/chilevision.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/eldesconcierto.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/elmostrador.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/informeespecial.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/mega.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/mediosregionales.svg" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/redperiodistas.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/sabado.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/aliados/theclinic.svg" alt=""/>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Logo Section 1 End -->




			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="footer-top">
					<div class="row flex">
						<div class="column width-5">
							<div class="widget">
							<a href="index.html"><img src="images/logo-dark.png" alt="Sartre Logo" /></a>
							<br><br>
								<h4 class="widget-title">DE CIUDADANÍA INTELIGENTE</h4>
								<p>Chileleaks es una plataforma segura para denunciar de forma anónima casos de corrupción en Chile. Si posees información, datos y/o pruebas de personas en cargos públicos que fomenten estas malas prácticas, te enseñamos a denunciar <a href="">acá.</a></p>
							</div>
						</div>
						<div class="column width-3 offset-1">
							<div class="widget">
								<h4 class="widget-title">Links Proyectos</h4>
								<ul>
									<li>
										<a href="https://abre.tumunicipio.org/">Proyecto Abre</a>
									</li>
									<li>
										<a href="https://deldichoalhecho.cl/">Del dicho al hecho</a>
									</li>
									<li>
										<a href="https://escueladeincidencia.org/">Escuela de Incidencia</a>
									</li>
									<li>
										<a href="http://partidospublicos.cl/">Partidos Públicos</a>
									</li>
									<li>
										<a href="http://votainteligente.cl/">Vota Inteligente</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title">Dónde encontrarnos</h4>

								<p class="no-margin-bottom">
									<a href="mailto:#">contacto@chileleaks.org</a>
								</p>
								<ul class="social-list list-horizontal no-margin-bottom">
									<li><a class="no-margin-right" href="#">Twitter</a> |</li>
									<li><a href="#">Facebook</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>

			</footer>
			<br><br>
			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="js/timber.master.min.js"></script>
</body>
</html>
